<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="../static/bootstrap-5.0.0-beta1-dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../static/bootstrap-5.0.0-beta1-dist/css/bootstrap.css" >
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="innerbox" style="display: inline-block;">
    <div class="search" style="text-align: left; margin-left: 10px;">
        <p style="font-size: 15px;"><i class="fa fa-search lg"></i>&emsp;大学搜索</p>
    </div>
    <form action="/colleges" method="post">
        <input style="width: 122px;border: 1px darkgray solid;" type="text" name="university" placeholder="院校名称" />
        <br>
        <select name="city" style="color: darkgray;width: 125px;border: whitesmoke 1px solid;">
            <option>北京</option>
        </select>
        <br>
        <select style="width: 125px;border: 1px #EEEEEE solid;color: darkgray;" name="univerKind">
            <option hidden="hidden">请选择种类</option>
            <option value="">本科</option>
        </select>
        <br>
        <input type="submit" value="搜索" style="background-color: rgb(197,30,11);color: white;width: 122px;border:1px whitesmoke solid;margin-top: 5px;"/>
    </form>
</div>
<div class="innerbox"style="display: inline-block;margin-left:200px;">
    <div class="search" style="text-align: left; margin-left: 10px;">
        <p style="font-size: 15px;"><i class="fa fa-search lg"></i>&emsp;专业搜索</p>
    </div>
    <form action="" method="post">
        <input style="width: 122px;border: 1px #EEEEEE solid;" type="text" name="university" placeholder="院校名称" />
        <br>
        <select name="city" style="width: 125px;border: whitesmoke 1px solid;color: darkgray;">
            <option hidden="hidden">所在地</option>
        </select>
        <br>
        <select style="color: darkgray;width: 125px;border: 1px #EEEEEE solid;" name="univerKind">
            <option hidden="hidden">请选择专业</option>
            <option value="">计算机应用技术</option>
        </select>
        <br>
        <input type="submit" value="搜索" style="color: white;background-color:  rgb(197,30,11);width: 122px;border:1px whitesmoke solid;margin-top: 5px;"/>
    </form>
</div>
<div class="innerbox" style="display: inline-block;margin-left:208px;">
    <div class="search" style="text-align: left; margin-left: 10px;">
        <p style="font-size: 15px;font-weight: 100;"><i class="fa fa-search lg"></i>&emsp;各地区分数线</p>
    </div>
    <form action="" method="post">
        <input style="width: 122px;border: 1px #EEEEEE solid;" type="text" name="university" placeholder="院校名称" />
        <br>
        <select name="city" style="color: darkgray;width: 125px;border: whitesmoke 1px solid;">
            <option hidden="hidden">请选地区</option>
        </select>
        <br>
        <select style="width: 125px;color: darkgray;border: 1px #EEEEEE solid;" name="univerKind">
            <option hidden="hidden">专业名称</option>
            
        </select>
        <br>
        <input type="submit" value="搜索" style="color: white;background-color:  rgb(197,30,11);width: 122px;border:1px whitesmoke solid;margin-top: 5px;"/>
    </form>
</div>
</div>
<div class="result">
    <table class="table table-striped">
        <caption></caption>
        <thead>
        <tr>
            <td>序号</td>
            <td>高校名称</td>
            <td>类型</td>
            <td>专业</td>
            <td>详细信息</td>
            <td>地区</td>
        </tr>
        </thead>
        <tbody>
<!--        <tr th:each="college,collegeStatus:${list}">-->
<!--            <td th:text="${collegeStatus.count}"></td>-->
<!--            <td th:text="${college.universityName}"></td>-->
<!--            <td th:text="${college.universityType}"></td>-->
<!--            <td th:text="${college.professionName}"></td>-->
<!--            <td th:text="${college.admitArea}"></td>-->
<!--        </tr>-->
        </tbody>
    </table>
</div>
</body>
</html>